.section-light {
  background-color: #ffffff;
}

.section-alt {
  background-color: #fafafa;
}

.landing-page-container {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 768px) {
  .landing-page-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scrollbar */
  overflow-y: auto;   /* only show scrollbar if needed */
}
