.section-light {
  background-color: #ffffff;
}

.section-alt {
  background-color: #fafafa;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scrollbar */
  overflow-y: auto;   /* only show scrollbar if needed */
}
