.skeleton-loader {
  width: 100%;
  background: linear-gradient(-90deg, #f0f0f0 0%, #e3e3e3 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  border-radius: 12px;
  animation: shine 1.4s ease infinite;
  margin: 20px 0;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
